body {
    background-image: url('C:/Users/nikol/OneDrive/Рабочий стол/Front/Img/banner Image.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 75%; 
    background-position: center;
    margin: 0px;
}
.nav{
    padding: 0px;
}
.flex-container1{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    /* align-items: center; круто бы если не то что кнопки разных размеров*/
}
.flex-container2{
    display: flex;
    justify-content: center; /* Выравниваем по горизонтали */
    align-items: center; /* Выравниваем по вертикали */
    height: 20vh; /* 70% от высоты окна браузера */
    text-align: center; /* Выравниваем текст по центру */
    margin-top: 0px; /* Сдвигаем контейнер вверх на 30% от высоты окна браузера */
}

.flex-container3{
    display: flex;
}
.item{
    padding: 33px 30px 0px 0px;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    flex: 10 10 auto;

}
.item1{
    padding: 33px 30px 0px 0px;
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
}
.item2{
    text-decoration: none;
    color: gray ;
}
.item3{
    text-decoration: none;
    color: gray ;
}
.item4{
    text-decoration: none;
    color: gray ;
}
.item5{
    text-decoration: none;
    color: gray ;
}
.item6{
    margin: 22px 20px 0px 0px;
    padding: 0px 0px 0px 0px;
    width: 110px;
    height: 35px;  
    background-color: #00BFCF;
    color: #FFFFFF;
    border-style: none;
    border-radius: 130px;
}
.item7{
    margin: 30px 20px 0px 0px;
    padding: 0px 0px 0px 0px;
    width: 110px;
    height: 25px;  
    background-color: #FFFFFF;
    color: #939292;
    border-style: none;
}
.Text{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 33px;
    width: 570px;
    height: 50px;
    text-align: center;
    flex: auto;
margin-top: 100px;
}
.end{
    margin-top: 150px;
}