body{
  background-color: green;
}
header{
  color: white;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 25px;
  margin-top: 5px; 
  margin-left: 15px;
  width:  30px;
  height: 30px;
}
.aside1{
  margin-top: -60px;
  color: orange;
  margin-left: 1200px;
  background-color: white; /* Changing background color */
  font-weight: bold; /* Making font bold */
  border-radius: 50px; /* Making border radius */
  width: 155px; /* Making auto-sizable width */
  height: 25px; /* Making auto-sizable height */
  padding: 10px 29px 15px 15px; /* Making space around letters */
  font-size: 22px; /* Changing font size */
}
nav {
  color: whitesmoke;
  margin-top: -45px; 
  margin-left: 255px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 25px;
  position: fixed;
  display: flex;
  align-items: center;
}
nav p{
  margin-left: 40px;
  margin-top: 10px;
}
nav button{
  margin-left: 130px;
  margin-top: -10px;
  color: orange;
  font-family: Arial, Helvetica, sans-serif;  
  font-size: 23px;
  border-radius: 30px;
  font-family: bold;
  border: 2px solid white;
}
.two{
  color: white;
  padding-top: 40px;
  margin-left: 15px;
  font-size: 25px;
  font-family: Arial, Helvetica, sans-serif;
}
.three{
  color: white;
  margin-top: -85px;
  margin-left: 15px;
  font-size: 65px;
  width: 200px;
  height: 200px;  
  font-family: Arial, Helvetica, sans-serif;  
}
.four{
  font-family: Arial, Helvetica, sans-serif;  
  font-size: 50px;
  margin-left: 15px;
  color: white;
  margin-top: 150px;
  width: 120px;
  height: 120px;
  border-radius: 50%; /* делает блок круглым */
  background-color: orange; /* цвет фона */
  text-align: center; /* выравнивание текста по центру */
  line-height: 100px; /* выравнивание текста по вертикали */
}
.test{
  color: white;
  font-family: Arial, Helvetica, sans-serif;  
  margin-top: -114px;
  font-size: 17px;
}
.five{
  color: white;
  font-family: Arial, Helvetica, sans-serif;  
  font-size: 26px;
  margin-left: 195px;
  margin-top: -140px;
  width: 160px;
}
.six{
  margin-left: 130px;
  margin-top: -10px;
  color: orange;
  font-family: Arial, Helvetica, sans-serif;  
  font-size: 23px;
  border-radius: 30px;
  font-family: bold;
  margin-left: 195px;
  border: 2px solid white;
}
img{
  width: 820px;
  height: 600px;
}
.seven{  
  margin-left: 440px;  
  margin-top: -590px;
}